* {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.Toastify__toast {
  min-height: 1rem !important;
}
.Toastify__toast > div {
  padding: 0;
}

html {
  background: rgba(250, 250, 250, 1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
